body {
    text-align: center;
    background: url('http://dash.ga.co/assets/anna-bg.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Helvetica;
    padding-top: 5%;
}

.img-circle {
    border-radius: 50%;
    border: 4px solid white;
    height: 15%;
    width: 15%;
}

p {
    font-size: 22px;
}

input {
    border: 0;
    padding: 10px;
    font-size: 18px;
}

input[type="submit"] {
    background: red;
    color: white;
}
