.robot {
    position: relative;
    left: 200px;
}

.beep {
    position: relative;
    left: 140px;

    width: 5px;
    height: 0;

    border: 5px solid transparent;
    border-top: 10px solid #777;
    border-bottom: 80px solid #888;
}

@keyframes blink {
    50% {
        background: radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
}

@-webkit-keyframes blink {
    50% {
        background: -wekbit-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
}

@-moz-keyframes blink {
    50% {
        background: -moz-radial-gradient(circle, red 15%, transparent 40%), #cc5;
    }
}

.brain {
    position: relative;
    left: 70px;

    width: 150px;
    height: 150px;

    border-bottom: 40px solid #666;
    border-radius: 60px 60px 10px 10px;
    background: radial-gradient(circle, white 15%, transparent 40%) #cc5;
    background: -webkit-radial-gradient(circle, white 15%, transparent 40%) #cc5;
    background: -moz-radial-gradient(circle, white 15%, transparent 40%) #cc5;
    background-size: 75px 150px;
}

.laser {
    -webkit-animation: blink .5s infinite;
    -moz-animation: blink .5s infinite;
    animation: blink .5s infinite;
}

.torso {
    width: 140px;
    height: 0;

    border-top: 300px solid #bc6;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
    border-radius: 20px 20px 100px 100px;
}

.left {
    position: relative;
    z-index: -1;
    top: -320px;
    left: -190px;

    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    transform: rotate(200deg);

    color: #666;

    font-family: 'Poller One', verdana, arial, sans-serif;
    font-size: 250px;
    font-weight: bold;
}

.right {
    position: relative;
    z-index: -1;
    top: -620px;
    left: 190px;

    -webkit-transform: scaleY(-1) rotate(20deg);
    -moz-transform: scaleY(-1) rotate(20deg);
    transform: scaleY(-1) rotate(20deg);

    color: #666;

    font-family: 'Poller One', verdana, arial, sans-serif;
    font-size: 250px;
    font-weight: bold;

}

.foot {
    position: relative;
    z-index: -1;
    top: -10px;
    left: 110px;

    width: 40px;
    height: 40px;

    border: 15px solid #999;
    border-radius: 40px;
    background: #ccc;
}

button {
    position: relative;
    left: 260px;
}
